# The CSV file challenge

In [4]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None

In [5]:
from azure.storage.blob import BlockBlobService
block_blob_service = BlockBlobService(
 account_name='asadatalake01', account_key='c9QiMiFm2v44KQD0+g+gnDArV7/Kw5UO/+3EIsELimWy+n2hAxOMxS2ZuMN88nYIsx24cJqN4kWrKk/PgteMww==')
file_content = block_blob_service.get_blob_to_text('wwi-02', 'sale-poc/sale-20170502.csv')

In [6]:

tokens = file_content.content.split(',')
 
print(f'Found {len(tokens)} tokens in content.')

Found 10573487 tokens in content.

In [7]:
[tokens[i] for i in np.arange(0, 10)] 
[tokens[i] for i in np.arange(0, 15)] 
[tokens[i] for i in np.arange(0, 20)]

['586682a8-db73-4e45-a376-c7553a44b248', '2', '610', '4', '35.790000000000000000', '157.4760000000000127151622564', '20170502', '53.63600000000000433075797446', '23', '17', '9559', '586682a8-db73-4e45-a376-c7553a44b248', '2', '1321', '3', '22.080000000000000000', '72.86400000000000588329385209', '20170502', '19.66800000000000158806301442', '23']

In [8]:
row_list = []
 
max_index = 11
while max_index <= len(tokens):
 
 row = [tokens[i] for i in np.arange(max_index - 11, max_index)] 
 row_list.append(row)
 
 max_index += 11

In [10]:
row_list[0:10]

[['586682a8-db73-4e45-a376-c7553a44b248', '2', '610', '4', '35.790000000000000000', '157.4760000000000127151622564', '20170502', '53.63600000000000433075797446', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '1321', '3', '22.080000000000000000', '72.86400000000000588329385209', '20170502', '19.66800000000000158806301442', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '4364', '1', '16.150000000000000000', '17.76500000000000143440814782', '20170502', '5.896000000000000476063632959', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '4691', '2', '35.840000000000000000', '78.84800000000000636646291241', '20170502', '24.20000000000000195399252334', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '4691', '3', '35.840000000000000000', '118.2720000000000095496943686', '20170502', '36.30000000000000293098878501', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '2392', '1', '32.900000000000000000', '36.19000000000000292210700081', '20170502', '10.41700000000000084110496346', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '1347', '2', '21.810000000000000000', '47.98200000000000387423426673', '20170502', '12.82600000000000103561603737', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '402', '2', '25.090000000000000000', '55.19800000000000445687931006', '20170502', '12.84800000000000103739239421', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '56', '3', '33.300000000000000000', '109.8900000000000088729024128', '20170502', '29.43600000000000237676545112', '23', '17', '9559'], ['586682a8-db73-4e45-a376-c7553a44b248', '2', '157', '2', '28.870000000000000000', '63.51400000000000512834219535', '20170502', '14.43200000000000116529008665', '23', '17', '9559']]

In [11]:
df = pd.DataFrame(row_list, columns=['TransactionId','CustomerId', 'ProductId', 'Quantity', 'Price', 'TotalAmount', 'TransactionDateId', 'ProfitAmount', 'Hour', 'Minute', 'StoreId'])

In [12]:
df.head(100)

TransactionId CustomerId ProductId Quantity  \
0   586682a8-db73-4e45-a376-c7553a44b248          2       610        4
1   586682a8-db73-4e45-a376-c7553a44b248          2      1321        3
2   586682a8-db73-4e45-a376-c7553a44b248          2      4364        1
3   586682a8-db73-4e45-a376-c7553a44b248          2      4691        2
4   586682a8-db73-4e45-a376-c7553a44b248          2      4691        3
5   586682a8-db73-4e45-a376-c7553a44b248          2      2392        1
6   586682a8-db73-4e45-a376-c7553a44b248          2      1347        2
7   586682a8-db73-4e45-a376-c7553a44b248          2       402        2
8   586682a8-db73-4e45-a376-c7553a44b248          2        56        3
9   586682a8-db73-4e45-a376-c7553a44b248          2       157        2
10  586682a8-db73-4e45-a376-c7553a44b248          2        78        1
11  21cacd35-336f-442e-8afd-8cb637678c56          4       238        1
12  21cacd35-336f-442e-8afd-8cb637678c56          4       138        3
13  21cacd35-336f-442e-8afd-8cb637678c56          4      4095        4
14  21cacd35-336f-442e-8afd-8cb637678c56          4      4013        4
15  21cacd35-336f-442e-8afd-8cb637678c56          4      3657        1
16  21cacd35-336f-442e-8afd-8cb637678c56          4        89        3
17  21cacd35-336f-442e-8afd-8cb637678c56          4       178        4
18  21cacd35-336f-442e-8afd-8cb637678c56          4        71        2
19  21cacd35-336f-442e-8afd-8cb637678c56          4         2        4
20  8482d371-90d8-45f2-b31e-990119f7c129         15      4949        3
21  8482d371-90d8-45f2-b31e-990119f7c129         15      1675        1
22  8482d371-90d8-45f2-b31e-990119f7c129         15      1858        1
23  8482d371-90d8-45f2-b31e-990119f7c129         15      4340        1
24  8482d371-90d8-45f2-b31e-990119f7c129         15      1294        1
25  8482d371-90d8-45f2-b31e-990119f7c129         15        14        3
26  8482d371-90d8-45f2-b31e-990119f7c129         15        46        1
27  8482d371-90d8-45f2-b31e-990119f7c129         15        54        2
28  8482d371-90d8-45f2-b31e-990119f7c129         15        57        4
29  a4a58e85-c753-4c96-9bf7-dccf207445ca         18      2899        1
..                                   ...        ...       ...      ...
70  f2db6005-f5d3-4e16-acfd-83d325800a90         63       485        4
71  f2db6005-f5d3-4e16-acfd-83d325800a90         63      3107        4
72  f2db6005-f5d3-4e16-acfd-83d325800a90         63      2461        1
73  f2db6005-f5d3-4e16-acfd-83d325800a90         63       184        4
74  f2db6005-f5d3-4e16-acfd-83d325800a90         63        79        2
75  f2db6005-f5d3-4e16-acfd-83d325800a90         63       161        3
76  f2db6005-f5d3-4e16-acfd-83d325800a90         63       254        3
77  f2db6005-f5d3-4e16-acfd-83d325800a90         63        98        3
78  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71      3298        1
79  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71      1113        1
80  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71      2633        4
81  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71       875        3
82  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71      4274        4
83  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71       696        1
84  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71        96        3
85  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71        33        2
86  1a7a913d-c50b-4b49-9302-b4a6629c81e1         71        25        2
87  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      2587        1
88  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      4357        4
89  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      1893        1
90  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      3230        4
91  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      3230        4
92  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      2826        4
93  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      3506        3
94  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73      3698        1
95  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73       116        3
96  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73       215        1
97  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73       201        4
98  1f673cd3-0982-44b0-a3e8-f17dd3c40059         73        57        1
99  4a582346-d47a-413d-bc04-149f0354033e         83      1345        4

                    Price                    TotalAmount TransactionDateId  \
0   35.790000000000000000  157.4760000000000127151622564          20170502
1   22.080000000000000000  72.86400000000000588329385209          20170502
2   16.150000000000000000  17.76500000000000143440814782          20170502
3   35.840000000000000000  78.84800000000000636646291241          20170502
4   35.840000000000000000  118.2720000000000095496943686          20170502
5   32.900000000000000000  36.19000000000000292210700081          20170502
6   21.810000000000000000  47.98200000000000387423426673          20170502
7   25.090000000000000000  55.19800000000000445687931006          20170502
8   33.300000000000000000  109.8900000000000088729024128          20170502
9   28.870000000000000000  63.51400000000000512834219535          20170502
10  29.420000000000000000  32.36200000000000261302091076          20170502
11  28.090000000000000000  30.89900000000000249489318094          20170502
12  24.720000000000000000  81.57600000000000658673116050          20170502
13  36.620000000000000000  161.1280000000000130100374918          20170502
14  38.220000000000000000  168.1680000000000135784716804          20170502
15  20.950000000000000000  23.04500000000000186073378927          20170502
16  25.270000000000000000  83.39100000000000673328059975          20170502
17  35.600000000000000000  156.6400000000000126476606965          20170502
18  35.740000000000000000  78.62800000000000634869934402          20170502
19  39.780000000000000000  175.0320000000000141326950143          20170502
20  29.340000000000000000  96.82200000000000781774645020          20170502
21  29.940000000000000000  32.93400000000000265920618858          20170502
22  21.630000000000000000  23.79300000000000192112992181          20170502
23  22.680000000000000000  24.94800000000000201438865588          20170502
24  29.920000000000000000  32.91200000000000265742983174          20170502
25  31.620000000000000000  104.3460000000000084252604893          20170502
26  25.910000000000000000  28.50100000000000230127028544          20170502
27  30.640000000000000000  67.40800000000000544275735592          20170502
28  31.440000000000000000  138.3360000000000111697318061          20170502
29  27.200000000000000000  29.92000000000000241584530158          20170502
..                    ...                            ...               ...
70  30.930000000000000000  136.0920000000000109885434085          20170502
71  26.010000000000000000  114.4440000000000092406082786          20170502
72  27.640000000000000000  30.40400000000000245492515205          20170502
73  26.060000000000000000  114.6640000000000092583718470          20170502
74  30.760000000000000000  67.67200000000000546407363800          20170502
75  30.140000000000000000  99.46200000000000803090927093          20170502
76  33.470000000000000000  110.4510000000000089181995122          20170502
77  27.750000000000000000  91.57500000000000739408534400          20170502
78  20.710000000000000000  22.78100000000000183941750720          20170502
79  25.120000000000000000  27.63200000000000223110419029          20170502
80  32.630000000000000000  143.5720000000000115925047339          20170502
81  24.080000000000000000  79.46400000000000641620090391          20170502
82  23.610000000000000000  103.8840000000000083879569956          20170502
83  26.410000000000000000  29.05100000000000234567920643          20170502
84  42.080000000000000000  138.8640000000000112123643703          20170502
85  27.850000000000000000  61.27000000000000494715379773          20170502
86  18.770000000000000000  41.29400000000000333422178755          20170502
87  25.920000000000000000  28.51200000000000230215846386          20170502
88  23.130000000000000000  101.7720000000000082174267391          20170502
89  24.400000000000000000  26.84000000000000216715534407          20170502
90  30.740000000000000000  135.2560000000000109210418486          20170502
91  30.740000000000000000  135.2560000000000109210418486          20170502
92  24.740000000000000000  108.8560000000000087894136414          20170502
93  26.250000000000000000  86.62500000000000699440505514          20170502
94  39.840000000000000000  43.82400000000000353850282409          20170502
95  16.460000000000000000  54.31800000000000438582503648          20170502
96  32.650000000000000000  35.91500000000000289990254032          20170502
97  34.010000000000000000  149.6440000000000120827792216          20170502
98  31.440000000000000000  34.58400000000000279243295154          20170502
99  30.640000000000000000  134.8160000000000108855147118          20170502

                     ProfitAmount Hour Minute StoreId
0   53.63600000000000433075797446   23     17    9559
1   19.66800000000000158806301442   23     17    9559
2   5.896000000000000476063632959   23     17    9559
3   24.20000000000000195399252334   23     17    9559
4   36.30000000000000293098878501   23     17    9559
5   10.41700000000000084110496346   23     17    9559
6   12.82600000000000103561603737   23     17    9559
7   12.84800000000000103739239421   23     17    9559
8   29.43600000000000237676545112   23     17    9559
9   14.43200000000000116529008665   23     17    9559
10  10.68100000000000086242124553   23     17    9559
11  10.93400000000000088284934918   17     25    5286
12  26.59800000000000214761541883   17     25    5286
13  48.00400000000000387601062357   17     25    5286
14  54.60400000000000440891767539   17     25    5286
15  6.589000000000000532018873400   17     25    5286
16  26.20200000000000211564099573   17     25    5286
17  46.02400000000000371613850803   17     25    5286
18  21.05400000000000169997349531   17     25    5286
19  46.11200000000000372324393538   17     25    5286
20  26.26800000000000212097006624   13     20    6231
21  8.646000000000000698108237884   13     20    6231
22  8.173000000000000659916565837   13     20    6231
23  7.590000000000000612843109593   13     20    6231
24  10.18600000000000082245321664   13     20    6231
25  27.95100000000000225686136446   13     20    6231
26  9.680000000000000781597009336   13     20    6231
27  21.05400000000000169997349531   13     20    6231
28  37.53200000000000303046476802   13     20    6231
29  10.51600000000000084909856923   14     36    3957
..                            ...  ...    ...     ...
70  45.58400000000000368061137124   13     34    9649
71  34.18800000000000276045852843   13     34    9649
72  9.009000000000000727418125734   13     34    9649
73  34.27600000000000276756395579   13     34    9649
74  19.36000000000000156319401867   13     34    9649
75  22.53900000000000181987758197   13     34    9649
76  34.02300000000000274713585213   13     34    9649
77  25.70700000000000207567296684   13     34    9649
78  7.227000000000000583533221743   13      6    2736
79  9.537000000000000770050689880   13      6    2736
80  42.28400000000000341415784533   13      6    2736
81  23.56200000000000190247817500   13      6    2736
82  28.99600000000000234123831433   13      6    2736
83  9.295000000000000750510764647   13      6    2736
84  43.23000000000000349054118942   13      6    2736
85  15.92800000000000128608235173   13      6    2736
86  12.14400000000000098054897535   13      6    2736
87  6.457000000000000521360732364    7      0     706
88  32.29600000000000260769184024    7      0     706
89  9.493000000000000766497976201    7      0     706
90  42.06400000000000339639427693    7      0     706
91  42.06400000000000339639427693    7      0     706
92  37.35600000000000301625391330    7      0     706
93  21.28500000000000171862524212    7      0     706
94  14.83900000000000119815268818    7      0     706
95  13.89300000000000112176934408    7      0     706
96  8.393000000000000677680134231    7      0     706
97  39.33600000000000317612602885    7      0     706
98  9.383000000000000757616192004    7      0     706
99  41.14000000000000332178728968   20     19     371

[100 rows x 11 columns]

# The country challenge

In [4]:
%%pyspark
data_path = spark.read.load('abfss://wwi-02@asadatalake01.dfs.core.windows.net/data-generators/generator-customer.csv'
, format='csv'
, header=True
)
display(data_path.limit(10))

There seems to be an issue with the address containing the separator character, but it also looks like the address is correctly quoted. Let's reload the data with a quote character specification:

In [5]:
%%pyspark
data_path = spark.read.load('abfss://wwi-02@asadatalake01.dfs.core.windows.net/data-generators/generator-customer.csv'
, format='csv'
, header=True
, quote='\''
)
display(data_path.limit(10))

In [20]:
cust_df = data_path.toPandas()

In [21]:
cust_df[['Addr_Split_1', 'Addr_Split_2']] = cust_df.Address.str.split(",",expand=True) 
temp1 = cust_df.Addr_Split_1.str.split(" ", expand=True)
cust_df['Address_PostalCode'] = temp1[0]
cust_df['Address_Street'] = temp1[1] + ' ' + temp1[2]

In [28]:
cust_df.Addr_Split_2

0                                          Mazieton Guyana
1                                       Ziemeborough Nauru
2                                      West Nadia Slovenia
3                                        Libbiefort Taiwan
4                                  West Paolofort Dominica
5                                        Lake Ebony Taiwan
6                                East Cristianview Reunion
7                                            Janport Malta
8                        Jakaylashire Syrian Arab Republic
9                                 Pansyhaven Liechtenstein
10                                     Lake Hector Morocco
11          Isabelleburgh Lao People's Democratic Republic
12                                     New Nonaberg Angola
13                              Port Lesterborough Armenia
14             New Kacie Heard Island and McDonald Islands
15         Olsonmouth United States Minor Outlying Islands
16                                  Alessandraview Romania
17                            East Chyna Brunei Darussalam
18                                Brooklynborough Tanzania
19                                   New Lizamouth Tunisia
20                                  New Kianside Australia
21           Port Jadenchester French Southern Territories
22                                 Port Janellemouth Palau
23                                      Lake Kavon Estonia
24                                      Cecileborough Chad
25                              Port Lisafort South Africa
26                                    Isadorehaven Nigeria
27           East Angelaside Holy See (Vatican City State)
28                 North Myrtismouth Saint Kitts and Nevis
29                                         Letastad Latvia
                                ...
999970                                 Deetown Netherlands
999971                              Genovevaberg Indonesia
999972                                  Prestonview Poland
999973                                   Daisyshire France
999974                           Port Chynaberg Kazakhstan
999975                               East Laylaland Gambia
999976                             Camyllemouth Bangladesh
999977                               Heaneyburgh Hong Kong
999978                            Rosenbaumfort Madagascar
999979                       South Lola Russian Federation
999980                             East Rosalee Kazakhstan
999981                           East Marlenborough Turkey
999982                                 Aaronfurt Australia
999983                     South Lewmouth French Polynesia
999984                         West Hattie Kyrgyz Republic
999985                                   Quincystad Zambia
999986                             Krajcikton Turkmenistan
999987                           West Josefina Netherlands
999988                           West Gunnerfort Indonesia
999989                          Port Nonaport Saint Helena
999990                            New Mackenzie Madagascar
999991                                  Flatleyside Cyprus
999992                            Port Virgieville Vanuatu
999993                North Alana Central African Republic
999994                                  Ernaville Pakistan
999995                               New Roosevelt Somalia
999996                                    Port Hank Turkey
999997                              New Pierreberg Uruguay
999998                        Cliffordville American Samoa
999999                                  Lake Catalina Cuba
Name: Addr_Split_2, Length: 1000000, dtype: object

Let's find a list of country names from a public resource (e.g. https://gist.github.com/marijn/396531/188caa065e3cd319fed7913ee3eecf5eec541918). Save it in the `tempdata` folder of the data lake as `countries.txt`. Note that we kept only the country names (removed the country codes).

In [62]:
countries = spark.read.load('abfss://tempdata@asadatalake01.dfs.core.windows.net/Country.txt', format='text')
country_df = countries.toPandas()
country_list = list(set(country_df['value'].str.lower()))

In [50]:
temp2 = cust_df.Addr_Split_2.str.split(" ", expand=True)
temp2 = temp2.fillna(value='')
temp2['Address_City'] = None
temp2['Address_Country'] = None

In [65]:
temp2['Candidate_Country_1'] = temp2[1] + ' ' + temp2[2] + ' ' + temp2[3] + ' ' + temp2[4] + ' ' + temp2[5] + ' ' + temp2[6] + ' ' + temp2[7] + ' ' + temp2[8] + ' ' + temp2[9] + ' ' + temp2[10]
temp2['Candidate_Country_1'] = temp2['Candidate_Country_1'].str.strip().str.lower()
temp2['Candidate_Country_2'] = temp2[2] + ' ' + temp2[3] + ' ' + temp2[4] + ' ' + temp2[5] + ' ' + temp2[6] + ' ' + temp2[7] + ' ' + temp2[8] + ' ' + temp2[9] + ' ' + temp2[10]
temp2['Candidate_Country_2'] = temp2['Candidate_Country_2'].str.strip().str.lower()
temp2['Candidate_Country_3'] = temp2[3] + ' ' + temp2[4] + ' ' + temp2[5] + ' ' + temp2[6] + ' ' + temp2[7] + ' ' + temp2[8] + ' ' + temp2[9] + ' ' + temp2[10]
temp2['Candidate_Country_3'] = temp2['Candidate_Country_3'].str.strip().str.lower()
temp2['Candidate_Country_4'] = temp2[4] + ' ' + temp2[5] + ' ' + temp2[6] + ' ' + temp2[7] + ' ' + temp2[8] + ' ' + temp2[9] + ' ' + temp2[10]
temp2['Candidate_Country_4'] = temp2['Candidate_Country_4'].str.strip().str.lower()

In [66]:
print(temp2['Candidate_Country_1'].isin(country_list).sum())
print(temp2['Candidate_Country_2'].isin(country_list).sum())
print(temp2['Candidate_Country_3'].isin(country_list).sum())
print(temp2['Candidate_Country_4'].isin(country_list).sum())

0
368938
518161
6888

In [67]:
temp2.loc[temp2['Candidate_Country_2'].isin(country_list), 'Address_Country'] = temp2['Candidate_Country_2']
temp2.loc[temp2['Candidate_Country_3'].isin(country_list), 'Address_Country'] = temp2['Candidate_Country_3']
temp2.loc[temp2['Candidate_Country_4'].isin(country_list), 'Address_Country'] = temp2['Candidate_Country_4']

In [71]:
temp2[temp2['Address_Country'].isnull()]

0                 1              2            3           4  \
3               Libbiefort         Taiwan
5                     Lake          Ebony       Taiwan
18         Brooklynborough       Tanzania
32                    Lake     Moisesfort   Democratic    People's
36             Jacobiburgh          Saint   Barthelemy
41           Reynoldshaven         Virgin      Islands     British
45               Taramouth     Kazakhstan
63                   South  Kelleyborough        Saint  Barthelemy
64            Estevanville         Taiwan
78                   South      Myrnafurt       Virgin     Islands
103                   West      Myronstad     Pitcairn     Islands
107              Tomasberg      Macedonia
109              Calihaven        British       Indian       Ocean
111                 Ianton         Jersey
124                    New     Veronafurt      Moldova
138                   West    Claireshire     Svalbard           &
141            Jovannystad       Tanzania
146                   Port     Melodyfurt   Democratic    People's
157            Sporershire           Isle           of         Man
161                  North   Rhiannonside   Antarctica        (the
164                  South    Shannyburgh       United      States
171            Hobartmouth        British       Indian       Ocean
198                   Port     Alizemouth        Macao
199               Otisview       Slovakia      (Slovak   Republic)
201               Vadaport         Virgin      Islands        U.S.
210                  South     Albinaview      Vietnam
230                   West         Sydnie         Iran
234                  North       Babyland     Slovakia     (Slovak
246                  North          Mabel   Micronesia
259                   West         Colten   Antarctica        (the
...    ..              ...            ...          ...         ...
999676        Humbertobury      Macedonia
999679                Lake       Boriston       Bouvet      Island
999686                Lake    Eunachester     Slovakia     (Slovak
999687                East       Murltown  Palestinian   Territory
999699               South           Buck   Democratic    People's
999704     Isabellaborough        Moldova
999713          Parkerberg           Isle           of         Man
999726                 New   Scottieshire     Svalbard           &
999742           Sonyaland         Virgin      Islands     British
999767                 New         Elijah       Bouvet      Island
999770                Lake      Ricoburgh       Jersey
999783               South            Sam     Svalbard           &
999794                West            Rey       Kyrgyz    Republic
999811        Lisandrofort       Svalbard            &         Jan
999819                Lake   Annabellberg   Antarctica        (the
999824                East       Reinhold     Pitcairn     Islands
999833                 New         Noeton     Republic          of
999847          Evalynport           Iran
999866               South          Nedra       Virgin     Islands
999867               South      Piperland       Taiwan
999874         Bernitaside       Pitcairn      Islands
999875                East     Susanaview   Kazakhstan
999883                East       Berniece     Svalbard           &
999910                East      Deliaport     Guernsey
999931           Huelsbury     Kazakhstan
999951           Uptonport           Iran
999960                 New      Lilymouth       Kyrgyz    Republic
999974                Port      Chynaberg   Kazakhstan
999980                East        Rosalee   Kazakhstan
999984                West         Hattie       Kyrgyz    Republic

                  5        6             7   8    9  10 Address_City  \
3                                                               None
5                                                               None
18                                                              None
32         Republic       of         Korea                      None
36                                                              None
41                                                              None
45                                                              None
63                                                              None
64                                                              None
78             U.S.                                             None
103                                                             None
107                                                             None
109       Territory  (Chagos  Archipelago)                      None
111                                                             None
124                                                             None
138             Jan    Mayen       Islands                      None
141                                                             None
146        Republic       of         Korea                      None
157                                                             None
161       territory    South            of  60  deg  S)         None
164              of  America                                    None
171       Territory  (Chagos  Archipelago)                      None
198                                                             None
199                                                             None
201                                                             None
210                                                             None
230                                                             None
234       Republic)                                             None
246                                                             None
259       territory    South            of  60  deg  S)         None
...             ...      ...           ...  ..  ...  ..          ...
999676                                                          None
999679  (Bouvetoya)                                             None
999686    Republic)                                             None
999687                                                          None
999699     Republic       of         Korea                      None
999704                                                          None
999713                                                          None
999726          Jan    Mayen       Islands                      None
999742                                                          None
999767  (Bouvetoya)                                             None
999770                                                          None
999783          Jan    Mayen       Islands                      None
999794                                                          None
999811        Mayen  Islands                                    None
999819    territory    South            of  60  deg  S)         None
999824                                                          None
999833        Korea                                             None
999847                                                          None
999866      British                                             None
999867                                                          None
999874                                                          None
999875                                                          None
999883          Jan    Mayen       Islands                      None
999910                                                          None
999931                                                          None
999951                                                          None
999960                                                          None
999974                                                          None
999980                                                          None
999984                                                          None

       Address_Country                                Candidate_Country_1  \
3                 None                                  libbiefort taiwan
5                 None                                  lake ebony taiwan
18                None                           brooklynborough tanzania
32                None  lake moisesfort democratic people's republic o...
36                None                       jacobiburgh saint barthelemy
41                None               reynoldshaven virgin islands british
45                None                               taramouth kazakhstan
63                None               south kelleyborough saint barthelemy
64                None                                estevanville taiwan
78                None                south myrnafurt virgin islands u.s.
103               None                    west myronstad pitcairn islands
107               None                                tomasberg macedonia
109               None  calihaven british indian ocean territory (chag...
111               None                                      ianton jersey
124               None                             new veronafurt moldova
138               None      west claireshire svalbard & jan mayen islands
141               None                               jovannystad tanzania
146               None  port melodyfurt democratic people's republic o...
157               None                            sporershire isle of man
161               None  north rhiannonside antarctica (the territory s...
164               None         south shannyburgh united states of america
171               None  hobartmouth british indian ocean territory (ch...
198               None                              port alizemouth macao
199               None                otisview slovakia (slovak republic)
201               None                       vadaport virgin islands u.s.
210               None                           south albinaview vietnam
230               None                                   west sydnie iran
234               None          north babyland slovakia (slovak republic)
246               None                             north mabel micronesia
259               None  west colten antarctica (the territory south of...
...                ...                                                ...
999676            None                             humbertobury macedonia
999679            None            lake boriston bouvet island (bouvetoya)
999686            None        lake eunachester slovakia (slovak republic)
999687            None                east murltown palestinian territory
999699            None   south buck democratic people's republic of korea
999704            None                            isabellaborough moldova
999713            None                             parkerberg isle of man
999726            None      new scottieshire svalbard & jan mayen islands
999742            None                   sonyaland virgin islands british
999767            None               new elijah bouvet island (bouvetoya)
999770            None                              lake ricoburgh jersey
999783            None             south sam svalbard & jan mayen islands
999794            None                           west rey kyrgyz republic
999811            None          lisandrofort svalbard & jan mayen islands
999819            None  lake annabellberg antarctica (the territory so...
999824            None                     east reinhold pitcairn islands
999833            None                       new noeton republic of korea
999847            None                                    evalynport iran
999866            None                 south nedra virgin islands british
999867            None                             south piperland taiwan
999874            None                       bernitaside pitcairn islands
999875            None                         east susanaview kazakhstan
999883            None         east berniece svalbard & jan mayen islands
999910            None                            east deliaport guernsey
999931            None                               huelsbury kazakhstan
999951            None                                     uptonport iran
999960            None                      new lilymouth kyrgyz republic
999974            None                          port chynaberg kazakhstan
999980            None                            east rosalee kazakhstan
999984            None                        west hattie kyrgyz republic

                                      Candidate_Country_2  \
3                                                  taiwan
5                                            ebony taiwan
18                                               tanzania
32       moisesfort democratic people's republic of korea
36                                       saint barthelemy
41                                 virgin islands british
45                                             kazakhstan
63                         kelleyborough saint barthelemy
64                                                 taiwan
78                          myrnafurt virgin islands u.s.
103                            myronstad pitcairn islands
107                                             macedonia
109     british indian ocean territory (chagos archipe...
111                                                jersey
124                                    veronafurt moldova
138              claireshire svalbard & jan mayen islands
141                                              tanzania
146      melodyfurt democratic people's republic of korea
157                                           isle of man
161     rhiannonside antarctica (the territory south o...
164                  shannyburgh united states of america
171     british indian ocean territory (chagos archipe...
198                                      alizemouth macao
199                            slovakia (slovak republic)
201                                   virgin islands u.s.
210                                    albinaview vietnam
230                                           sydnie iran
234                   babyland slovakia (slovak republic)
246                                      mabel micronesia
259     colten antarctica (the territory south of 60 d...
...                                                   ...
999676                                          macedonia
999679                 boriston bouvet island (bouvetoya)
999686             eunachester slovakia (slovak republic)
999687                     murltown palestinian territory
999699         buck democratic people's republic of korea
999704                                            moldova
999713                                        isle of man
999726          scottieshire svalbard & jan mayen islands
999742                             virgin islands british
999767                   elijah bouvet island (bouvetoya)
999770                                   ricoburgh jersey
999783                   sam svalbard & jan mayen islands
999794                                rey kyrgyz republic
999811                       svalbard & jan mayen islands
999819  annabellberg antarctica (the territory south o...
999824                          reinhold pitcairn islands
999833                           noeton republic of korea
999847                                               iran
999866                       nedra virgin islands british
999867                                   piperland taiwan
999874                                   pitcairn islands
999875                              susanaview kazakhstan
999883              berniece svalbard & jan mayen islands
999910                                 deliaport guernsey
999931                                         kazakhstan
999951                                               iran
999960                          lilymouth kyrgyz republic
999974                               chynaberg kazakhstan
999980                                 rosalee kazakhstan
999984                             hattie kyrgyz republic

                                 Candidate_Country_3  \
3
5                                             taiwan
18
32             democratic people's republic of korea
36                                        barthelemy
41                                   islands british
45
63                                  saint barthelemy
64
78                               virgin islands u.s.
103                                 pitcairn islands
107
109      indian ocean territory (chagos archipelago)
111
124                                          moldova
138                     svalbard & jan mayen islands
141
146            democratic people's republic of korea
157                                           of man
161     antarctica (the territory south of 60 deg s)
164                         united states of america
171      indian ocean territory (chagos archipelago)
198                                            macao
199                                (slovak republic)
201                                     islands u.s.
210                                          vietnam
230                                             iran
234                       slovakia (slovak republic)
246                                       micronesia
259     antarctica (the territory south of 60 deg s)
...                                              ...
999676
999679                     bouvet island (bouvetoya)
999686                    slovakia (slovak republic)
999687                         palestinian territory
999699         democratic people's republic of korea
999704
999713                                        of man
999726                  svalbard & jan mayen islands
999742                               islands british
999767                     bouvet island (bouvetoya)
999770                                        jersey
999783                  svalbard & jan mayen islands
999794                               kyrgyz republic
999811                           & jan mayen islands
999819  antarctica (the territory south of 60 deg s)
999824                              pitcairn islands
999833                             republic of korea
999847
999866                        virgin islands british
999867                                        taiwan
999874                                       islands
999875                                    kazakhstan
999883                  svalbard & jan mayen islands
999910                                      guernsey
999931
999951
999960                               kyrgyz republic
999974                                    kazakhstan
999980                                    kazakhstan
999984                               kyrgyz republic

                         Candidate_Country_4
3
5
18
32                people's republic of korea
36
41                                   british
45
63                                barthelemy
64
78                              islands u.s.
103                                  islands
107
109     ocean territory (chagos archipelago)
111
124
138                      & jan mayen islands
141
146               people's republic of korea
157                                      man
161        (the territory south of 60 deg s)
164                        states of america
171     ocean territory (chagos archipelago)
198
199                                republic)
201                                     u.s.
210
230
234                        (slovak republic)
246
259        (the territory south of 60 deg s)
...                                      ...
999676
999679                    island (bouvetoya)
999686                     (slovak republic)
999687                             territory
999699            people's republic of korea
999704
999713                                   man

In [63]:
country_list.sort()
country_list

['afghanistan', 'albania', 'algeria', 'american samoa', 'andorra', 'angola', 'anguilla', 'antarctica', 'antigua and barbuda', 'argentina', 'armenia', 'aruba', 'australia', 'austria', 'azerbaijan', 'bahamas', 'bahrain', 'bangladesh', 'barbados', 'belarus', 'belgium', 'belize', 'benin', 'bermuda', 'bhutan', 'bolivia', 'bosnia and herzegovina', 'botswana', 'bouvet island', 'brazil', 'british indian ocean territory', 'brunei darussalam', 'bulgaria', 'burkina faso', 'burundi', 'cambodia', 'cameroon', 'canada', 'cape verde', 'cayman islands', 'central african republic', 'chad', 'chile', 'china', 'christmas island', 'cocos (keeling) islands', 'colombia', 'comoros', 'congo', 'congo, the democratic republic of the', 'cook islands', 'costa rica', "cote d'ivoire", 'croatia', 'cuba', 'cyprus', 'czech republic', 'denmark', 'djibouti', 'dominica', 'dominican republic', 'east timor', 'ecuador', 'egypt', 'el salvador', 'equatorial guinea', 'eritrea', 'estonia', 'ethiopia', 'falkland islands (malvinas)', 'faroe islands', 'fiji', 'finland', 'france', 'french guiana', 'french polynesia', 'french southern territories', 'gabon', 'gambia', 'georgia', 'germany', 'ghana', 'gibraltar', 'greece', 'greenland', 'grenada', 'guadeloupe', 'guam', 'guatemala', 'guinea', 'guinea-bissau', 'guyana', 'haiti', 'heard island and mcdonald islands', 'holy see (vatican city state)', 'honduras', 'hong kong', 'hungary', 'iceland', 'india', 'indonesia', 'iran, islamic republic of', 'iraq', 'ireland', 'israel', 'italy', 'jamaica', 'japan', 'jordan', 'kazakstan', 'kenya', 'kiribati', "korea, democratic people's republic of", 'korea, republic of', 'kosovo', 'kuwait', 'kyrgyzstan', "lao people's democratic republic", 'latvia', 'lebanon', 'lesotho', 'liberia', 'libyan arab jamahiriya', 'liechtenstein', 'lithuania', 'luxembourg', 'macau', 'macedonia, the former yugoslav republic of', 'madagascar', 'malawi', 'malaysia', 'maldives', 'mali', 'malta', 'marshall islands', 'martinique', 'mauritania', 'mauritius', 'mayotte', 'mexico', 'micronesia, federated states of', 'moldova, republic of', 'monaco', 'mongolia', 'montenegro', 'montserrat', 'morocco', 'mozambique', 'myanmar', 'namibia', 'nauru', 'nepal', 'netherlands', 'netherlands antilles', 'new caledonia', 'new zealand', 'nicaragua', 'niger', 'nigeria', 'niue', 'norfolk island', 'northern mariana islands', 'norway', 'oman', 'pakistan', 'palau', 'palestinian territory, occupied', 'panama', 'papua new guinea', 'paraguay', 'peru', 'philippines', 'pitcairn', 'poland', 'portugal', 'puerto rico', 'qatar', 'reunion', 'romania', 'russian federation', 'rwanda', 'saint helena', 'saint kitts and nevis', 'saint lucia', 'saint pierre and miquelon', 'saint vincent and the grenadines', 'samoa', 'san marino', 'sao tome and principe', 'saudi arabia', 'senegal', 'serbia', 'seychelles', 'sierra leone', 'singapore', 'slovakia', 'slovenia', 'solomon islands', 'somalia', 'south africa', 'south georgia and the south sandwich islands', 'spain', 'sri lanka', 'sudan', 'suriname', 'svalbard and jan mayen', 'swaziland', 'sweden', 'switzerland', 'syrian arab republic', 'taiwan, province of china', 'tajikistan', 'tanzania, united republic of', 'thailand', 'togo', 'tokelau', 'tonga', 'trinidad and tobago', 'tunisia', 'turkey', 'turkmenistan', 'turks and caicos islands', 'tuvalu', 'uganda', 'ukraine', 'united arab emirates', 'united kingdom', 'united states', 'united states minor outlying islands', 'uruguay', 'uzbekistan', 'vanuatu', 'venezuela', 'viet nam', 'virgin islands, british', 'virgin islands, u.s.', 'wallis and futuna', 'western sahara', 'yemen', 'zambia', 'zimbabwe']

In [70]:
country_list.append('taiwan')

In [31]:
temp2[(~temp2[9].isnull()) & (temp2['Address_City'].isnull())]

0                1               2      3          4      5    6  \
117                  East     Fabianville  South    Georgia    and  the
294                  Lake      Bartonberg  South    Georgia    and  the
458                 North            Myah  South    Georgia    and  the
596           Wisokyshire      Antarctica   (the  territory  South   of
748                  West      Wernerside  South    Georgia    and  the
1245                 West      Electafort  South    Georgia    and  the
1282                South          Lenora  South    Georgia    and  the
1292          Assuntaland      Antarctica   (the  territory  South   of
1418            Bayertown      Antarctica   (the  territory  South   of
1470          Jaylinmouth      Antarctica   (the  territory  South   of
1535                 Port         Damaris  South    Georgia    and  the
1588           Vernieland      Antarctica   (the  territory  South   of
1819                North       Jacquelyn  South    Georgia    and  the
2011           Derickstad      Antarctica   (the  territory  South   of
2330                South          Lenora  South    Georgia    and  the
2406                 West          Walton  South    Georgia    and  the
2429          Douglasfurt      Antarctica   (the  territory  South   of
2460                  New          Creola  South    Georgia    and  the
2731                 Port    Ernestoburgh  South    Georgia    and  the
3668                 West         Claudie  South    Georgia    and  the
3911          Stephenbury      Antarctica   (the  territory  South   of
4089              Ovaview      Antarctica   (the  territory  South   of
4425                 Port         Laverna  South    Georgia    and  the
4920                 East      Marielaton  South    Georgia    and  the
5139                North     Celinehaven  South    Georgia    and  the
5478                  New  Carolanneshire  South    Georgia    and  the
6298           Thomasfurt      Antarctica   (the  territory  South   of
6543                North             Coy  South    Georgia    and  the
6578                 Lake         Ovafort  South    Georgia    and  the
6693                 East     Fabianville  South    Georgia    and  the
...    ..             ...             ...    ...        ...    ...  ...
993388              North        Zitaview  South    Georgia    and  the
993439               East      Beulahport  South    Georgia    and  the
993481         Boganshire      Antarctica   (the  territory  South   of
993505              South       Dovieberg  South    Georgia    and  the
993522         Feestmouth      Antarctica   (the  territory  South   of
993693              South          Newton  South    Georgia    and  the
994109       Kilbackhaven      Antarctica   (the  territory  South   of
994263     Gusikowskiberg      Antarctica   (the  territory  South   of
995535               West      Masonmouth  South    Georgia    and  the
995972          Sallyfurt      Antarctica   (the  territory  South   of
995991          Isaacview      Antarctica   (the  territory  South   of
996087         Grahamview      Antarctica   (the  territory  South   of
996152               East      Beulahport  South    Georgia    and  the
996463               Port          Justus  South    Georgia    and  the
996487               Port         Michael  South    Georgia    and  the
996875         Zettamouth      Antarctica   (the  territory  South   of
997408            Danview      Antarctica   (the  territory  South   of
997445          Isaacview      Antarctica   (the  territory  South   of
997652          Daijafort      Antarctica   (the  territory  South   of
997941          Kielhaven      Antarctica   (the  territory  South   of
998340        Whitneytown      Antarctica   (the  territory  South   of
998547     Gusikowskiberg      Antarctica   (the  territory  South   of
998912              North      Aliyahberg  South    Georgia    and  the
999169               Lake         Vicenta  South    Georgia    and  the
999195               West     Harmonshire  South    Georgia    and  the
999405      Hettingerview      Antarctica   (the  territory  South   of
999426               Lake          Markus  South    Georgia    and  the
999639       Jerroldburgh      Antarctica   (the  territory  South   of
999755               West      Electafort  South    Georgia    and  the
999820              South            Paul  South    Georgia    and  the

            7         8        9    10 Address_City Address_Country
117     South  Sandwich  Islands  None         None            None
294     South  Sandwich  Islands  None         None            None
458     South  Sandwich  Islands  None         None            None
596        60       deg       S)  None         None            None
748     South  Sandwich  Islands  None         None            None
1245    South  Sandwich  Islands  None         None            None
1282    South  Sandwich  Islands  None         None            None
1292       60       deg       S)  None         None            None
1418       60       deg       S)  None         None            None
1470       60       deg       S)  None         None            None
1535    South  Sandwich  Islands  None         None            None
1588       60       deg       S)  None         None            None
1819    South  Sandwich  Islands  None         None            None
2011       60       deg       S)  None         None            None
2330    South  Sandwich  Islands  None         None            None
2406    South  Sandwich  Islands  None         None            None
2429       60       deg       S)  None         None            None
2460    South  Sandwich  Islands  None         None            None
2731    South  Sandwich  Islands  None         None            None
3668    South  Sandwich  Islands  None         None            None
3911       60       deg       S)  None         None            None
4089       60       deg       S)  None         None            None
4425    South  Sandwich  Islands  None         None            None
4920    South  Sandwich  Islands  None         None            None
5139    South  Sandwich  Islands  None         None            None
5478    South  Sandwich  Islands  None         None            None
6298       60       deg       S)  None         None            None
6543    South  Sandwich  Islands  None         None            None
6578    South  Sandwich  Islands  None         None            None
6693    South  Sandwich  Islands  None         None            None
...       ...       ...      ...   ...          ...             ...
993388  South  Sandwich  Islands  None         None            None
993439  South  Sandwich  Islands  None         None            None
993481     60       deg       S)  None         None            None
993505  South  Sandwich  Islands  None         None            None
993522     60       deg       S)  None         None            None
993693  South  Sandwich  Islands  None         None            None
994109     60       deg       S)  None         None            None
994263     60       deg       S)  None         None            None
995535  South  Sandwich  Islands  None         None            None
995972     60       deg       S)  None         None            None
995991     60       deg       S)  None         None            None
996087     60       deg       S)  None         None            None
996152  South  Sandwich  Islands  None         None            None
996463  South  Sandwich  Islands  None         None            None
996487  South  Sandwich  Islands  None         None            None
996875     60       deg       S)  None         None            None
997408     60       deg       S)  None         None            None
997445     60       deg       S)  None         None            None
997652     60       deg       S)  None         None            None
997941     60       deg       S)  None         None            None
998340     60       deg       S)  None         None            None
998547     60       deg       S)  None         None            None
998912  South  Sandwich  Islands  None         None            None
999169  South  Sandwich  Islands  None         None            None
999195  South  Sandwich  Islands  None         None            None
999405     60       deg       S)  None         None            None
999426  South  Sandwich  Islands  None         None            None
999639     60       deg       S)  None         None            None
999755  South  Sandwich  Islands  None         None            None
999820  South  Sandwich  Islands  None         None            None

[4204 rows x 13 columns]

In [34]:
temp2[~temp2['Address_City'].isnull()]

0       1               2           3     4          5      6   7   8  \
161        North    Rhiannonside  Antarctica  (the  territory  South  of  60
259         West          Colten  Antarctica  (the  territory  South  of  60
266        South           Hilma  Antarctica  (the  territory  South  of  60
293         West         Toystad  Antarctica  (the  territory  South  of  60
566         East         Madalyn  Antarctica  (the  territory  South  of  60
1320        Port        Hankfurt  Antarctica  (the  territory  South  of  60
1321        West     Marquestown  Antarctica  (the  territory  South  of  60
1480       North         Darrion  Antarctica  (the  territory  South  of  60
2063        Port        Hankfurt  Antarctica  (the  territory  South  of  60
2139        East     Thereseside  Antarctica  (the  territory  South  of  60
2263        Lake  Alexandroburgh  Antarctica  (the  territory  South  of  60
2682       South       Pearlfurt  Antarctica  (the  territory  South  of  60
2720       North            Kaia  Antarctica  (the  territory  South  of  60
3150       North       Donnyland  Antarctica  (the  territory  South  of  60
3418       South          Khalid  Antarctica  (the  territory  South  of  60
3429        West        Erinfort  Antarctica  (the  territory  South  of  60
3733        Port         Manuela  Antarctica  (the  territory  South  of  60
4041        East   Salvatoreport  Antarctica  (the  territory  South  of  60
4207        Lake         Donnell  Antarctica  (the  territory  South  of  60
4311         New          Jammie  Antarctica  (the  territory  South  of  60
4585       South     Armandmouth  Antarctica  (the  territory  South  of  60
4752        Lake  Alexandroburgh  Antarctica  (the  territory  South  of  60
4998        East     Micaelatown  Antarctica  (the  territory  South  of  60
5061        East     Nataliaview  Antarctica  (the  territory  South  of  60
5716        West          Murphy  Antarctica  (the  territory  South  of  60
5963        Port          Flavio  Antarctica  (the  territory  South  of  60
6020       North            Macy  Antarctica  (the  territory  South  of  60
6169        West     Marquestown  Antarctica  (the  territory  South  of  60
6406        Port     Heatherfort  Antarctica  (the  territory  South  of  60
6911       North            Kaia  Antarctica  (the  territory  South  of  60
...    ..    ...             ...         ...   ...        ...    ...  ..  ..
983946      East         Damaris  Antarctica  (the  territory  South  of  60
984455      West          Jarred  Antarctica  (the  territory  South  of  60
984645      West          Jarred  Antarctica  (the  territory  South  of  60
985809     South    Stefanietown  Antarctica  (the  territory  South  of  60
985871      West      Emelieview  Antarctica  (the  territory  South  of  60
985995      Lake  Alexandroburgh  Antarctica  (the  territory  South  of  60
986197      Port    Laceychester  Antarctica  (the  territory  South  of  60
987134      East         Abagail  Antarctica  (the  territory  South  of  60
987696       New       Tommieton  Antarctica  (the  territory  South  of  60
987904       New  Gabrielleville  Antarctica  (the  territory  South  of  60
987909       New       Tommieton  Antarctica  (the  territory  South  of  60
988868      Port          Eloise  Antarctica  (the  territory  South  of  60
989167     North          Ansley  Antarctica  (the  territory  South  of  60
989572       New          Marvin  Antarctica  (the  territory  South  of  60
990280     North      Vilmamouth  Antarctica  (the  territory  South  of  60
990625     South      Randalfort  Antarctica  (the  territory  South  of  60
992049     South          Leonie  Antarctica  (the  territory  South  of  60
992388       New        Geovanny  Antarctica  (the  territory  South  of  60
993109      Port    Albertoburgh  Antarctica  (the  territory  South  of  60
993977       New     Jamarcuston  Antarctica  (the  territory  South  of  60
995778     North          Ansley  Antarctica  (the  territory  South  of  60
995988     South       Aleneside  Antarctica  (the  territory  South  of  60
996064      Lake  Alexandroburgh  Antarctica  (the  territory  South  of  60
996586       New    Laurettaside  Antarctica  (the  territory  South  of  60
996685     South     Xanderhaven  Antarctica  (the  territory  South  of  60
996901      West          Jarred  Antarctica  (the  territory  South  of  60
997399      Lake  Alexandroburgh  Antarctica  (the  territory  South  of  60
998655      East         Abagail  Antarctica  (the  territory  South  of  60
999196     South           Hilma  Antarctica  (the  territory  South  of  60
999819      Lake    Annabellberg  Antarctica  (the  territory  South  of  60

          9  10         Address_City  \
161     deg  S)   North Rhiannonside
259     deg  S)          West Colten
266     deg  S)          South Hilma
293     deg  S)         West Toystad
566     deg  S)         East Madalyn
1320    deg  S)        Port Hankfurt
1321    deg  S)     West Marquestown
1480    deg  S)        North Darrion
2063    deg  S)        Port Hankfurt
2139    deg  S)     East Thereseside
2263    deg  S)  Lake Alexandroburgh
2682    deg  S)      South Pearlfurt
2720    deg  S)           North Kaia
3150    deg  S)      North Donnyland
3418    deg  S)         South Khalid
3429    deg  S)        West Erinfort
3733    deg  S)         Port Manuela
4041    deg  S)   East Salvatoreport
4207    deg  S)         Lake Donnell
4311    deg  S)           New Jammie
4585    deg  S)    South Armandmouth
4752    deg  S)  Lake Alexandroburgh
4998    deg  S)     East Micaelatown
5061    deg  S)     East Nataliaview
5716    deg  S)          West Murphy
5963    deg  S)          Port Flavio
6020    deg  S)           North Macy
6169    deg  S)     West Marquestown
6406    deg  S)     Port Heatherfort
6911    deg  S)           North Kaia
...     ...  ..                  ...
983946  deg  S)         East Damaris
984455  deg  S)          West Jarred
984645  deg  S)          West Jarred
985809  deg  S)   South Stefanietown
985871  deg  S)      West Emelieview
985995  deg  S)  Lake Alexandroburgh
986197  deg  S)    Port Laceychester
987134  deg  S)         East Abagail
987696  deg  S)        New Tommieton
987904  deg  S)   New Gabrielleville
987909  deg  S)        New Tommieton
988868  deg  S)          Port Eloise
989167  deg  S)         North Ansley
989572  deg  S)           New Marvin
990280  deg  S)     North Vilmamouth
990625  deg  S)     South Randalfort
992049  deg  S)         South Leonie
992388  deg  S)         New Geovanny
993109  deg  S)    Port Albertoburgh
993977  deg  S)      New Jamarcuston
995778  deg  S)         North Ansley
995988  deg  S)      South Aleneside
996064  deg  S)  Lake Alexandroburgh
996586  deg  S)     New Laurettaside
996685  deg  S)    South Xanderhaven
996901  deg  S)          West Jarred
997399  deg  S)  Lake Alexandroburgh
998655  deg  S)         East Abagail
999196  deg  S)          South Hilma
999819  deg  S)    Lake Annabellberg

                                     Address_Country
161     Antarctica (the territory South of 60 deg S)
259     Antarctica (the territory South of 60 deg S)
266     Antarctica (the territory South of 60 deg S)
293     Antarctica (the territory South of 60 deg S)
566     Antarctica (the territory South of 60 deg S)
1320    Antarctica (the territory South of 60 deg S)
1321    Antarctica (the territory South of 60 deg S)
1480    Antarctica (the territory South of 60 deg S)
2063    Antarctica (the territory South of 60 deg S)
2139    Antarctica (the territory South of 60 deg S)
2263    Antarctica (the territory South of 60 deg S)
2682    Antarctica (the territory South of 60 deg S)
2720    Antarctica (the territory South of 60 deg S)
3150    Antarctica (the territory South of 60 deg S)
3418    Antarctica (the territory South of 60 deg S)
3429    Antarctica (the territory South of 60 deg S)
3733    Antarctica (the territory South of 60 deg S)
4041    Antarctica (the territory South of 60 deg S)
4207    Antarctica (the territory South of 60 deg S)
4311    Antarctica (the territory South of 60 deg S)
4585    Antarctica (the territory South of 60 deg S)
4752    Antarctica (the territory South of 60 deg S)
4998    Antarctica (the territory South of 60 deg S)
5061    Antarctica (the territory South of 60 deg S)
5716    Antarctica (the territory South of 60 deg S)
5963    Antarctica (the territory South of 60 deg S)
6020    Antarctica (the territory South of 60 deg S)
6169    Antarctica (the territory South of 60 deg S)
6406    Antarctica (the territory South of 60 deg S)
6911    Antarctica (the territory South of 60 deg S)
...                                              ...
983946  Antarctica (the territory South of 60 deg S)
984455  Antarctica (the territory South of 60 deg S)
984645  Antarctica (the territory South of 60 deg S)
985809  Antarctica (the territory South of 60 deg S)
985871  Antarctica (the territory South of 60 deg S)
985995  Antarctica (the territory South of 60 deg S)
986197  Antarctica (the territory South of 60 deg S)
987134  Antarctica (the territory South of 60 deg S)
987696  Antarctica (the territory South of 60 deg S)
987904  Antarctica (the territory South of 60 deg S)
987909  Antarctica (the territory South of 60 deg S)
988868  Antarctica (the territory South of 60 deg S)
989167  Antarctica (the territory South of 60 deg S)
989572  Antarctica (the territory South of 60 deg S)
990280  Antarctica (the territory South of 60 deg S)
990625  Antarctica (the territory South of 60 deg S)
992049  Antarctica (the territory South of 60 deg S)
992388  Antarctica (the territory South of 60 deg S)
993109  Antarctica (the territory South of 60 deg S)
993977  Antarctica (the territory South of 60 deg S)
995778  Antarctica (the territory South of 60 deg S)
995988  Antarctica (the territory South of 60 deg S)
996064  Antarctica (the territory South of 60 deg S)
996586  Antarctica (the territory South of 60 deg S)
996685  Antarctica (the territory South of 60 deg S)
996901  Antarctica (the territory South of 60 deg S)
997399  Antarctica (the territory South of 60 deg S)
998655  Antarctica (the territory South of 60 deg S)
999196  Antarctica (the territory South of 60 deg S)
999819  Antarctica (the territory South of 60 deg S)

[2998 rows x 13 columns]